<footer id="footer">
  <div class="row">
    <div class="col-lg-12">

      <ul class="list-unstyled">
        <li class="float-lg-right"><a href="http://localhost:4200/#top">Back to top</a></li>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/gallery">Gallery</a></li>
        <li><a routerLink="/contact">Contact Us</a></li>
        <li><a target="_blank" href="https://goo.gl/maps/D6g9BShbXsz">Find us on Google Maps</a></li>
      </ul>
      <p>1647 Westwood Avenue | Cincinnati, Ohio 45214</p>
      <p>Contact Number: <a target="_blank" href="tel:1-513-251-8400">(513) 251-8400</a></p>
      <p>Fax Number: (513) 557-4132</p>
      <p>Email: <a target="_blank" href="mailto:office@queencityblacktop.com">office@queencityblacktop.com</a> </p>
    </div>
  </div>

</footer>
