<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <div class="container">
    <img class="img-fluid" width="50px" height="50px" src="../../../assets/img/web_hi_res_512-copy.png">
    <a routerLink="/" class="navbar-brand">Queen City Blacktop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>

        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/about">About</a>
        </li>

        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/services">Services</a>
        </li>

        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/gallery">Gallery</a>
        </li>

        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
        </li>

        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" target="_blank" href="https://goo.gl/maps/D6g9BShbXsz">Find us on Google Maps</a>
        </li>
      </ul>

    </div>
  </div>
</div>
